@using MyYTLoader.DAL.Entities
@model List<VideoEntity>
@{
    ViewData["Title"] = "Страница запроса";
}


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<h2>Ссылка на видео в YouTube</h2>

<form method="post" asp-action="HandlePost" asp-controller="Download">
    <div>
        <label for="name">Адрес:</label>
        <input type="text" id="name" name="name" />
    </div>
    <button type="submit">Скачать</button>
</form>

@if (@Model is not null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Адрес</th>
                <th scope="col">Дата</th>
                <th scope="col">Состояние</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <th scope="row">@(i+1)</th>
                    <td>@Model[i].Url</td>
                    <td>@Model[i].Created</td>
                    <td>@{
                            switch (Model[i].State){
                                case VideoState.New:
                                    <div class="badge badge-primary">Новое</div>
                                    break;
                                case VideoState.Processing:
                                    <div class="badge badge-warning">Скачиваю</div>
                                    break;
                                case VideoState.Done:
                                    <div class="badge badge-success">Готово</div>
                                    break;
                                case VideoState.Error:
                                    <div class="badge badge-danger">Ошибка</div>
                                    break;
                                case VideoState.Deleted:
                                    <div class="badge badge-secondary">Удалено</div>
                                    break;
                            }
                        }</td>
                </tr>
            }
        </tbody>
    </table>
}
